.products-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products-container .card:first-child {
  margin-top: 1em;
}

.products-container .card:last-child {
  margin-bottom: 1em;
}