.about-us-container {
  
}

.about-us-data {
  margin-left: var(--left-indent-padding);
  margin-bottom: 2rem;
}

.about-us-data span {
  font-weight: bold;
}

.about-us-description {
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: justify;
}