.product-container {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width:510px) {
  .products-container .product-container {
    margin-right: 0;
  } 
}

.product-container a {
  text-decoration: none;
  color: black;
}

.product-container .image {
  min-width: 310px;
}

.product-container .name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 18pt;
  font-weight: bold;
}

.product-container .price {
  font-size: 17pt;
  color: gray;
  text-align: right;
  margin-right: 1rem;
}