.title-divider {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.title-divider {
  flex-grow: 0;
}

.title-divider .divider {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  height: var(--divider-width);
  margin-bottom: 10px;
  background-color: var(--color-divider);
}