.product-details-container .product {
  display: flex;
  padding: 1rem;
  
}

@media screen and (max-width:650px) {
  .product-details-container .product {
    flex-direction: column;
  }
}

.product-details-container .product > .image {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width:650px) {
  .product-details-container .product > .image {
    width: 100%;
  }
}

.product-details-container .product > .data {
  width: 50%;
  margin-left: 1rem;
}

@media screen and (max-width:650px) {
  .product-details-container .product > .data {
    width: 100%;
    margin-left: 0;
  }
}

.product-details-container .product > .data .price {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-details-container .product > .data .extra-info > div {
  margin-bottom: 1rem;
}

.product-details-container .product > .data .extra-info > div div:first-of-type  {
  font-weight: bold;
}

.product-details-container .product > .data .extra-info > div div:last-of-type  {
  margin-left: 1rem;
}


/* ========================== */

.pay-mode-container {
  padding: 1rem;
}

.pay-mode-container .title-divider h2 {
  font-size: 20pt;
}

.product-details-container .pay-mode {
  display: flex;
  margin-top: 1rem;
}

@media screen and (max-width:650px) {
  .product-details-container .pay-mode {
    flex-direction: column;
  }
}

.product-details-container .pay-mode .by-phone {
  width: 50%;
}

@media screen and (max-width:650px) {
  .product-details-container .pay-mode .by-phone {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.product-details-container .pay-mode .divider-vertical {
  background-color: var(--color-divider);
  width: 1px;
}

@media screen and (max-width:650px) {
  .product-details-container .pay-mode .divider-vertical {
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.product-details-container .pay-mode .in-person {
  width: 50%;
  margin-left: 1rem;
}

@media screen and (max-width:650px) {
  .product-details-container .pay-mode .in-person {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
}

.product-details-container .pay-mode .name {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-details-container .pay-mode .info-m {
  text-align: center;
  display: flex;
  margin-bottom: 1rem;
}

.product-details-container .pay-mode .info-m div:first-of-type {
  width: 70%;
}

.product-details-container .pay-mode .info-m div:last-of-type {
  width: 30%;
}

.product-details-container .pay-mode .info {
  text-align: center;
  margin-bottom: 1rem;
}
