.layout-contaioner > header {
  margin-bottom: var(--separation-sections);
  background-color: var(--layout-background);
  padding-top: 1rem;
}

.layout-contaioner > header h1 {
  margin-left: 5px;
  margin-bottom: 2rem;
}

.layout-contaioner > header h1 a {
  text-decoration: none ;
  color: black;
}



.layout-contaioner > header nav {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.layout-contaioner > header nav a {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 17pt;
  font-weight: bold;
}

.layout-contaioner > header nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width:560px) {
  .layout-contaioner > header nav a {
    margin-bottom: 0.5rem;
  }
}



.divider {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: var(--color-divider);
  height: var(--divider-width);
}


.layout-contaioner > footer {
  background-color: var(--layout-background);
  margin-top: var(--separation-sections);
  padding-bottom: 2rem;
  width: 100%;
  overflow-x: hidden;
}

.layout-contaioner > footer .footer-sections {
  display: flex;
  padding: 1rem;
}

@media screen and (max-width:560px) {
  .layout-contaioner > footer .footer-sections {
    padding: 0;
  }
}

@media screen and (max-width:750px) {
  .layout-contaioner > footer .footer-sections {
    flex-direction: column;
  } 
}

.layout-contaioner > footer .footer-sections .divider-vertical {
  background-color: var(--color-divider);
  width: 1px;
}

@media screen and (max-width:750px) {
  .layout-contaioner > footer .footer-sections .divider-vertical {
    width: 100%;
    height: 1px;
    margin-bottom: 3rem;
  }
}

.layout-contaioner footer .footer-sections .contact-info-container {
  margin-top: 1rem;
  margin-right: 2rem;
}

.layout-contaioner footer .footer-sections .info-extra {
  margin-left: 2rem;
}

.layout-contaioner footer .footer-sections .info-extra div {
  margin-bottom: 1rem;
}

.layout-contaioner footer .footer-sections .info-extra div a {
  margin-left: 0;
}

@media screen and (max-width:560px) {
  .layout-contaioner footer .footer-sections .contact-info-container,
  .layout-contaioner footer .footer-sections .info-extra,
  .layout-contaioner footer .footer-sections .info-extra div
  {
    margin-right: 0;
  }
}