.principal-products-container {
  margin-bottom: var(--separation-sections);
}

.principal-products-bottom {
  text-align: right;
  margin-top: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.principal-products-items {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left:  2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
}

.principal-products-items .card:first-child {
  margin-top: 1em;
}

.principal-products-items .card:last-child {
  margin-bottom: 1em;
}