.post-container {
  margin-bottom: 1rem;
  width: 310px;
  margin-right: 1.5rem;
}

@media screen and (max-width:510px) {
  .posts-container .post-container {
    margin-right: 0;
  } 
}

.post-container a {
  text-decoration: none;
  color: black;
}

.post-container .image {
  min-width: 310px;
  max-width: 100%;
}

.post-container .title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 18pt;
  font-weight: bold;
}

.post-container .description {
  border-top: 1px solid darkgray;
  color: gray;
  
}