.contact-info-container {
  margin-bottom: var(--separation-sections);
}

.contact-info {
  margin-left: 0;
}

@media screen and (max-width:560px) {
  .contact-info {
    margin-right: 0;
  }
}

.contact-info span {
  font-weight: bold;
}

.social-networks-list {
  margin-left: var(--left-indent-padding);
  padding: 10px;
}

