/*
.post-Details-container {
  background-color: darkkhaki;
}
*/

.post-Details-container header {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

@media screen and (max-width:800px) {
  .post-Details-container header {
    flex-direction: column;
  }
}

.post-Details-container header h2 {
  flex-grow: 1;
  margin-left: 2rem;
  text-transform: capitalize;
}

.post-Details-container header > div {
  display: block;
  margin-right: 2rem;
  height: 216px ;
  width: 384px ;
  max-width: 100%;
}

@media screen and (max-width:800px) {
  .post-Details-container header h2 {
    margin-left: 0;
  }
  
  .post-Details-container header > div {
    
    margin-right: 0rem;
    margin-left: 1rem;

  }
}

.post-Details-container header img {
  margin-right: 2rem;
  min-height: 216px;
  min-width: 384px;
  max-height: 216px;
  max-width: 384px;
}
@media screen and (max-width:400px) {
  .post-Details-container header img {
    margin-right: 0;
    min-width: 95%;
    max-width: 95%;
  }
}

.post-Details-container main {
  border-top: 1px solid var(--color-divider);
  padding-top: 1.5rem;
  margin: 3rem;
}

@media screen and (max-width:600px) {
  .post-Details-container main {
    margin: 0.5rem;
  }
}

.post-Details-container img, iframe {
  display: block;
  margin: 0 auto;
  max-width: 98%;
}
