.principal-posts-container {
  margin-bottom: var(--separation-sections);
}

.principal-posts-bottom {
  text-align: right;
  margin-top: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.principal-posts-items {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left:  2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
}

.principal-posts-items:-webkit-scrollbar {
  display: none;
}

.principal-posts-items .card:first-child {
  margin-top: 1em;
}

.principal-posts-items .card:last-child {
  margin-bottom: 1em;
}